@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}

@layer components {
  .btn-gradient {
    @apply transition-all duration-[0.2s] ease-[ease-in-out] shadow-[20px_20px_60px_#1F2634,-20px_-20px_60px_#1F2634] hover:transition-all hover:duration-[0.4s] hover:ease-[ease-in-out] hover:shadow-[20px_20px_60px_#1F2634,] hover:brightness-100 hover:scale-105;
  }
}

@layer utilities {
  .clip-path-gradient {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 98%, 0 100%);
  }
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222a35;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #626970;
}
